@import '_variables.scss';

ol, li {
  list-style: none;
  text-align: center;
  width: 100%;
}

body{
  font-family: Helvetica, Arial, "Sans serif"; 
  margin: 0;
}

/* Header */

.header{
  display: grid;
  background-color: #f3e9f1;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
  border-radius: 1.5rem;
  margin-top: 1rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.header_logo{
  grid-area: logo;
  height: 4rem;
  padding: 0 2rem;
}

.header_nav{
  display: flex;
  align-items: center;
  grid-area: navbar;
}

.header_panier{
  display: flex;
  align-items: center;
  grid-area: button;
  font-weight: bold;
  padding: 2rem;
  text-decoration: none;
}

/* PRODUCTS */
@media screen and (min-width: 1200px) {
  section {
    display: inline-block;
    text-align: center;
  }
}

.product {
  display: inline-block;
  border-radius: 1.5rem;
  width: 400px;
  height: 300px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 2rem;
  background-color: var(--light-purple);
  padding: 0.375rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  align-items: center;
}

.product :hover {
  transform: scale(1.02);
}

img {
  width: 300px;
  height: 200px;
} 

.product__figure {
  margin: 0;
}

.product__title {
  margin: 0.25rem 0.75rem 0 0.75rem;
}

.product__price {
  margin: 0.25rem 1rem 0.25rem 0.75rem;
}

/* FORMULAIRE */

legend {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

fieldset {
  background-color: var(--light-purple);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
  .field_form {
    display: inline;
  }
}

.field_form {
  display: inline;
}

input, textarea {
  border-radius: 0.3rem;
  margin: 1rem;
  box-sizing: border-box;
  height: 2rem;
  width: 15rem;
}

.btn {
  text-align: center;
}

.submit {
  background-color: var(--light-purple);
  padding: 0.375rem;
  border-radius: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
